// -----------------------------------------------------------------------------
// This file contains all styles related to the footer of the site/application.
// -----------------------------------------------------------------------------
@use '../abstracts';


footer {
  background-color: abstracts.$footer;
}