@use "../abstracts";

header {
  background: url(../../images/mobile/image-header.jpg) no-repeat;
  background-position: center;
  background-size: cover;
  min-height: 70vh;
  padding: 0.625rem;
  p {
    margin: 0;
    color: abstracts.$white;
  }
  h1 {
    text-align: center;
    color: abstracts.$white;
    letter-spacing: 0.6rem;
  }
}
.landing-page {
  margin-top: 4rem;
  .arrow {
    padding: 50% 45%;
  }
}
nav {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  .logo {
    align-self: center;
  }
}

.mobile-menu {
  justify-self: end;
  a {
    font-weight: 900;
    text-decoration: none;
    color: white;
  }
}
