// -----------------------------------------------------------------------------
// This file contains all @font-face declarations, if any.
// -----------------------------------------------------------------------------
@import url("https://fonts.googleapis.com/css2?family=Barlow:wght@600&family=Fraunces:wght@700;900&display=swap");

$font-size: 1.125rem;

// headings
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Fraunces", serif;
  margin: 0;
}

h1 {
  text-transform: uppercase;
}

//text
p {
  font-family: "Barlow", sans-serif;
}
